#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-section {
  display: flex;
}

.responsive-development {
  flex-direction: column;
}

.card {
  padding: 3em;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 350px;
  width: 200px;
}

.button {
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
  position: relative;
  margin-top: 70px;
  width: 70%;
  text-align: center !important;
}

.align-left {
  display: flex;
  text-align: left;
}

h2 {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  font-size: 30px;
  color: hsl(0, 0%, 95%);
}

p {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  color: hsl(0, 0%, 95%);
}