#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.blue-card {
  height: 100%;
  width: 50%;
  background: linear-gradient(hsl(252, 100%, 67%),  hsl(241, 81%, 54%));
  border-radius: 25px;
  flex-grow: 1;
}

.white-card {
  flex-grow: 1;
  width: 50%;
  height: 100%;
  display:'flex';
  flex-direction: 'column';
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-evenly;
}

.card {
  width: 600px;
  height: 500px;
  background: hsl(0, 0%, 100%);
  box-shadow: 10px 15px 30px 4px hsl(221, 100%, 96%);
  border-radius: 25px;
  display: flex;
}

.inner-card {
  display:'flex';
  flex-direction: 'column';
  padding: 20px;
  justify-content: space-evenly;
}

p {
  font-family: 'Hanken Grotesk';
  font-weight: 700;
}

h1 {
  font-family: 'Hanken Grotesk';
}

.label-text {
  /* color: hsl(224, 30%, 74%); */
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 700;
}

.dark-label-text {
  color:  hsl(224, 30%, 50%);
  font-size: 18px;
  font-weight: 700;
}

.white-card-text {
  color: hsl(224, 30%, 27%);
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.circle {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabular-card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
}

.continue-button {
  width: 100%;
  border-radius: 25px;
  height: 10%;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-family: 'Hanken Grotesk';
  background-color: hsl(224, 30%, 27%);
  padding: 15px;
  margin-top: 40px;
  position: relative;
}